$titleFont: 'Kohinoor Devangari Semibold'  
$bodyFont: 'Kohinoor Devangari Regular'
$footerFont: 'Kohinoor Devangari Light'
$navFont: 'Arial Rounded Bold'
$formFont: 'Sinhala Sangam MN'

$offWhite: rgba( 222, 224, 224, 1) 
$white: rgba( 230, 231, 232, 1)
$gray: rgba(211, 211, 211, 1)

$lightBlue: rgba(25, 99, 162, 1)  
$blue: rgba(21, 87, 136, 1)
$darkBlue: rgba(11, 69, 109, 1)

$red: rgba(214, 57, 52, 1) 
$yellow: rgba(233, 219, 66, 1)      
$mediaSmall: '(max-width: 699px)'
$mediaLarge: '(min-width: 700px)'

body
    box-sizing: border-box
    position: relative
    opacity: 0
    div
        margin-top: 5px
        margin-bottom: 5px
        position: relative  
.intro
    position: static
    box-sizing: border-box
    padding-top: 13%
    h1
        font-family: 'NowAltBlack'
        font-size: 4rem
        width: 100%
        text-align: center
    h2
        width: 100%
        font-family: 'NowAltRegular'
        font-size: 2rem
        text-align: center
        padding: 2% 0
.text
    width: 100%
    text-align: left
    box-sizing: border-box
    padding: 8% 10%
    font-size: 1.5rem
    line-height: 2rem
    font-family: 'helvetica'
.text2
    width: 100%
    text-align: left
    box-sizing: border-box
    font-size: 1.5rem
    line-height: 2rem
    font-family: 'helvetica'
.display
    position: absolute   
    display: block   
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
.screen-one
    height: 100%
    width: 100%
    box-sizing: border-box
    background-color: $offWhite  
.screen-two
    height: 150%
    width: 100%
    box-sizing: border-box
    display: grid
    grid-template-columns: 1fr 1fr    
    grid-template-rows: 1fr 1fr 1fr  
    
    .mobile-view
        background-color: $blue
        grid-column: 1
        grid-row: 1 /span 2 
        margin-right: 5px  
    
    .logo-container             
        grid-column: 2
        grid-row: 2  
        margin-left: 5px
        position: static 
        box-sizing: border-box 
        overflow: visible  
        height: auto 
        background-color: none
        position: relative   
    
                
        .img-container 
            position: absolute 
            margin: auto    
            height: 100%   
            width: 100%
            box-sizing: border-box 
            overflow: hidden
            background-image: url("../img/bluebackground.png")  
            background-size: 800px   
            background-position: center center 
            opacity: 0         
            transition: .3s linear all 0s   
            
        
            
          
        .logo   
            position: absolute
            width: 100% 
            height: 100%  
            top: 0    
            box-sizing: border-box 
            opacity: 1   
 
        .fade-in
            opacity: 1       
            transition: .3s linear all 0s
        
       

    .icons
        background-color: $offWhite
        grid-column: 2
        grid-row: 3 
        margin-left: 5px
        display: block
        box-sizing: border-box
        
        .icon-container  
            height: auto      
            width: 100%  
            position: absolute   
            display: block 
            top: 0
            bottom: 0
            left: 0   
            right: 0   
            margin: auto 
        
            div
                display: flex
                justify-content: space-between 
                width: 100%      
                box-sizing: border-box
                position: absolute 
                margin-top: 13%     
                padding-left: 20%  
                padding-right: 20%     


                img
                    position: relative
                    display: block   
                    display: block     
                    max-width: 230px     
                    max-height: 40px     
                    width: auto
                    height: auto


            .two   
                bottom: 18%               
                padding-left: 8%
                padding-right: 8%  

                img
                    max-height: 60px  

                .schedule
                    max-height: 60px           
.color-in
    background-color: $white 
       
.screen-three   
    height: 100%
    width: 100%
    background-color: $blue 
    position: relative
    
.screen-four
    height: 100%
    width: 100%
    position: relative  
    display: flex
    justify-content: space-between  
    
    div
        width: 47%    
        height: 60%
        position: relative
        top: 20%
        
        p   
            position: relative   
            top: 20% 
    
    .pic
        background-color: $blue
 
    

footer  
    position: static 
    box-sizing: border-box
    width: 100%
    height: 50px 
    
    p
        display: block
        float: right
        font-family: "NowAltLight" 
        padding-right: 1%
        
        
/* transitions */
.display
    opacity: 0
    transform: translateY(40px)
    max-height: 90%
    max-width: 90%

.show
    max-height: 95%
    max-width: 95%
    opacity: 1
    transform: translateY(0px)
    transition: .4s linear opacity 0s, .3s linear transform 0s, .3s linear max-width 0s, .3s linear max-height 0s

p
    font-weight: light
    line-height: 1.6rem
    font-size: 1.1rem
    font-family: helvetica
    
#home
    margin: 2% 4%
    position: fixed
    right: 0
    z-index: 100
    t
        cursor: pointer
        color: rgb(255,182,193)
        font-family: 'NowAltBlack'
        font-size: 2rem
        border-bottom: solid 1px
        transition: .1s ease-in-out 0s
        &:hover
            border-bottom: solid 10px
        









